<!--Header start-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#c3e71d;">
  <div class="container">
    <a class="navbar-brand" href="#"><h2 class="imagegrid">Image Grid</h2></a>
    <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item mx-3">
          <a class="nav-link active text-dark" aria-current="page" href="/">Home</a>
        </li>
        </li>
          <li class="nav-item mx-3">
          <a class="nav-link active text-dark" aria-current="page" href="/image-selection/">Images</a>
        </li>
        </li>
          <li class="nav-item mx-3">
          <a class="nav-link active text-dark" aria-current="page" href="/about/">About Us</a>
        </li>
          <li class="nav-item mx-3 ">
          <a class="nav-link active text-dark" aria-current="page" href="/contact/">Contact Us</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active text-dark" aria-current="page" href="/add/">Add Image</a>
        </li>
      </ul>

            </div>


  </div>
</nav>
<!--Header close-->