{% extends 'base.html' %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
{% load static %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb py-5 justify-content-center">
    <li class="breadcrumb-item"><a href="/" style="color:#e71f48;">Home</a></li>
    <li class="breadcrumb-item " aria-current="page">Images</li>
  </ol>
</nav>

<!---Main content start--->
<div class="container-fluid main-container">
<div class="container pt-4">
    <div class="row ">
        <div class="col-md-12">
<form class="d-flex col-sm-4 mx-auto" method="GET" action="/search/">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-form" type="submit">Search</button>
      </form>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row p-4 mx-auto">
            {% for i in images %}
            <div class="col-md-4 my-2">
                <div class="card " style="width: 25rem;">
  <img src="{{i.pic.url}}" class="card-img-top" alt="{{i.title}}" width="100%" height="200">
  <div class="card-body text-center">
    <h5 class="card-title text-capitalize ">{{i.title}}</h5>
    <p class="card-text"></p>
    <a href="/details/{{i.id}}" class="btn btn-image">View More</a>
  </div>
</div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>
<!---Main content close--->
<style>
    .main-container{
        background-color:#e6f1c9;
    }
</style>
{% endblock content %}